:root {
  --text-main-color: #434455;
  --text-title-color: #2e2f42;
  --accent-color: #4d5ae5;
  --text-second-color: #fff;
  --button-color: #f4f4fd;
  --button-text-color: #404bbf;
  --button-border-color: #e7e9fc;
}
body {
  background-color: #fff;
}

/* розібратися як правиль сховати */
.hidden {
  visibility: hidden;
}

.list {
  list-style: none;
  padding-left: inherit;
}

.text-main {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
}

.text-title-big {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.text-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.button {
  font-weight: 500;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  width: auto;
  height: 48px;

  background: var(--button-color);

  border: 1px solid var(--button-border-color);
  border-radius: 4px;

  flex: none;
  order: 1;
  flex-grow: 0;
  color: var(--button-text-color);
}

.button:hover,
.button:focus {
  align-items: flex-start;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  background: var(--button-text-color);
  color: var(--button-color);
}

.logo {
  color: var(--accent-color);
  text-transform: uppercase;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-logo {
  color: var(--text-title-color);
}

.nav-list a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-title-color);
}

.address-list a {
  text-decoration: none;
  color: var(--text-title-color);
}

.hero {
  background-color: var(--text-title-color);
}

.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-second-color);
}

.hero-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  /* position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px; */

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--text-second-color);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--text-second-color);
  color: var(--accent-color);
}

.team {
  background-color: #f4f4fd;
  text-align: center;
}

footer {
  background-color: var(--text-title-color);
}

.footer-logo {
  color: #f4f4fd;
}
.footer-text {
  color: #e7e9fc;
}
